@charset "UTF-8";

@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

@media screen and (max-width: 425px) {
    header .container .row .col-md-3 {
    	text-align: center;
    }
    
    header .container .row .col-md-7 {
    	text-align: center;
    	margin-top: 30px;
    }
    
    header .container .row .col-md-7 input[type=text] {
    	width: 80%;
    }
    
    header .container .row .col-md-2 {
    	display: none;
    }
    
    main .container-fluid {
    	background-size: contain;
    }
    
    main .container-fluid .row .col-md-12 {
    	text-align: center;
    	font-size: 15px;
	}
	
	main .container-fluid .row .col-md-12 input[type=button] {
		margin-top: 20%;
    	width: 100%;
	}
	
	main .container-fluid .row .col-md-12 {
		margin-top: 200px;
	}
	
	/* main .container .row .col-md-12 {
		text-align: center;
	} */
	
	main .container .row .col-md-12 article {
		display: flex;
	}
	
	main .container .row .col-md-12 article .bondname {
		margin-top: 8%;
	}
	
	main .container .row .col-md-12 article .bondbtn {
		display: none;
	}
	
	.footer {
		margin-top: 500px;
	}
}

* {
	margin: 0;
    padding: 0;
    font-family: "Nanum Gothic", sans-serif;
}

header {
   margin-top: 20px;
   color: black;
}

header a {
   color: black;
}

header a:hover {
   text-decoration: none;
}

input[type=text] {
    width: 25%;
    border: 2px solid #aaa;
    border-radius: 20px;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: .3s;
    font-size: 10pt;
}

input[type=text]:focus {
   border-color: dodgerBlue;
    box-shadow: 0 0 8px 0 dodgerBlue;
}

header .container .row .col-md-7 input[type=submit] {
   display: none;
}

main .container .row {
   height: auto;
}

main .container .row .col-md-12 .mylist {
   font-size: 25pt;
   margin-top: 50px;
   margin-bottom: 50px;
   text-align: center;
}

input[type=button]{
    color: white;
    width: 19%;
    height: 100px;
    border: none;
    font-size: 20pt;
    outline:none;
    background-color: #1fc535;
    margin-top: 8%;
}

main .container .row .col-md-12 article {
   margin-bottom: 5%;
   margin-left: 5%;
}

main .container .row .col-md-12 article section {
   display: inline-block;
   margin-left: 20px;
}

main .container .row .col-md-12 article .picture {
   width: 150px;
   height: 150px;
   background-color: #636e72;
   line-height: 150px;
}
main .container .row .col-md-12 article .bondname {
   width: 200px;
}

main .container .row .col-md-12 article .bondname p {
   font-size: 20pt;
   font-weight: bold;
   color: black;
}

main .container .row .col-md-12 article .bondname a {
   color: black;
}

main .container .row .col-md-12 article .bondname a:hover {
   text-decoration: none;
}

main .container .row .col-md-12 article .bondbtn {
   width: 100px;
   height: 50px;
   line-height: 50px;
   text-align: center;
   margin-left: 400px;
   background-color: #1fc535;
   margin-top: 50px;
   color: white;
}

main .container .row .col-md-12 article .bondbtn a {
   color: white;
}

main .container .row .col-md-12 article .bondbtn a:hover {
   text-decoration: none;
}

main .container .row #paging nav {
   text-align: center; 
}

main .container .row #paging nav ul {
   display: inline-flex;
}

main .container-fluid {
    margin-top: 50px;
    background-image: url(https://firebasestorage.googleapis.com/v0/b/testsist12341.appspot.com/o/bond_background3.jpg?alt=media&token=53aff940-c652-497e-89ab-104d95c76e6c);
    background-repeat: no-repeat;
    height: 0;
    padding-bottom: 44%;
    background-size: contain;
}

main .container-fluid .row .col-md-12 {
   text-align: center;
   font-size: 20pt;
}

main .container-fluid .row .col-md-12 p {
   margin-top: 8%;
   text-align: center;
   font-size: 30pt;
   font-weight: bold;
}
.blog_Img{
   width: 100%;
}

.footer {
   height: 150px;
   line-height: 150px;
   text-align: center;
   font-size: 20pt;
}